.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input {
  background-image: url('https://www.googleapis.com/drive/v3/files/1oksmCamrPH_WAkpPfY6sVwcgUZhnVmHU?alt=media&key=AIzaSyBa-rF9qjubzf5GM0I5vI847KeXv-0TS5A');
  background-position: 7px 7px;
  background-repeat: no-repeat;
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#Libros {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable2 {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

#Libros td {
  text-align: left;
  padding: 12px;
}

#Libros th {
  text-align: left;
  padding: 12px;
  background-color: #f1f1f1;
}

#myTable2 td {
  padding: 12px;
}

#Libros tr {
  border-bottom: 1px solid #ddd;
}

#Libros tr.header, #Libros tr:hover {
  background-color: #f1f1f1;
}



img {
    border-radius: 7%;
}

header {
  text-align: center;
  margin-top: 5px;
}

h1 {
  font-size: 30px;
  color: #8c6b48;
  background-color: white;
}

a {
  text-decoration: none;
}

#load_data {
    height:40px;
    width:100px;
}

